body{
    background-color: #000000;
    color: #00FF00;
    font-family: "Arial";
}


.container {
    width: 900px;
    height: 700px;
    margin: auto;
}

.header {
    height: 100px;
    text-align: center;
}

.content{
    height: 550px;
}

.contentLeft{
    width: 50%;
    float: left;
}

.contentRight{
    width: 50%;
    float: right;
    text-align: center;
}

.footer {
    height: 50px;
    text-align: center;
}

textarea {
    width: 350px;
    height: 100px;
    background-color: #000000;
    color: #00FF00;
    resize: none;
    overflow-y: scroll;
}

#dotOutputTA {
    height: 200px;
}

button{
    background-color: black;
    color: #00FF00;
    width: 125px;
    height: 25px;
}

button:disabled {
    opacity: 0.3;
}